.footer {
    background-color: rgb(24, 24, 24);
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px;
}

.footer__column {
    margin-bottom: 40px;
}

.footer__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer__text {
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 10px;
}

.footer__social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__social li {
    margin-right: 10px;
}

.footer__social li:last-child {
    margin-right: 0;
}

.footer__social a {
    color: #c7c3c3;
    font-size: 15px;
}

.footer__social a:hover {
    color: #868585;
}

.footer__copy {
    font-size: 15px;
    text-align: center;
}

.footer__logo {
    width: 150px;
    margin-bottom: 30px;
}

.footer__nav a{
    color: #fff;
    font-size: 15px;
}
.footer__nav a:hover{
    color: #868585;
}

header {
    background-color: #232323;
    color: #fff;

}

.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header_ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header_li {
    margin-right: 40px;
}

.header_li:last-child {
    margin-right: 0;
}

.header_li a {
    color: #fff;
    text-decoration: none;
}

.logo {
    margin-left: 10px;
    font-family: fantasy;
    font-size: 24px;
    font-weight: 300;
    padding: 5px 10px;
    background-color: #7B1FA2;
    border-radius: 5px;
}
.active{
    font-size: 20px;
    font-weight: 700;
}
.active:hover
{
    color: red;
}

.ad {
    margin-left: 750px;
    border: 2px solid #7B1FA2;
}
.profile{
    background-color: transparent;
    color: #fff;
}

.ad:hover,
.profile:hover {
    background-color: #7B1FA2;
    color: red;
}

.btn{
    border: 2px solid #7B1FA2;
    font-weight: 550;
    font-size: 16px;
    border-radius: 5px;
    padding: 8px 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.Boldd{
    font-weight: 900;
}
